@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.media{
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  margin: 5px 0;
  background-color:#000428;
  border: 2px solid #000428;
  border-radius: 10px;
  position: relative;
  transition: all .2s;
  cursor: pointer;
  font-family: 'Playfair Display', serif;

}

.media:hover {
    /* background-color: white; */
    /* color: black; */
    border: 2px solid white;
    /* box-shadow: 2px 2px 2px rgb(126, 216, 234); */
    transform: scale(1.03);
}

.poster {
    border-radius: 10px;
}
  
.movie-title {
    width: 100%;
    text-align: center;
    font-size: 1.15em;
    padding: 8px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
  
.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
}