header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 1.5em;
    padding: 10px;
    background: linear-gradient(to right, #3686b4,#2ef286,#8800ff);
    background-size: 300% 300%;
    color: rgb(36, 34, 34);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    animation: colors 10s   infinite  ease-in-out;
    z-index: 10;
}

header h1{
    text-align: center;
    font-weight: bolder;
}

header a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bolder;
    color: #000000;
}

header a:hover{
    color:indigo;
}

header a span{
    text-decoration: underline;
}

@keyframes colors {
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
}

@media screen and (max-width:550px) {
    header{
        font-size: 1em;
    }

    header a{
        font-size: 15px;
    }
}

@media screen and(max-width:400px) {
    header{
        font-size: .85em;
    }
}