@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right,#000428,#004f94,#000428);
    color: white;
    padding-top: 100px;
    padding-bottom: 70px;
}

.title{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 2.25vw;
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
}

@media screen and (max-width:1024px) {
    .title{
        font-size: 6vw;
    }
}